# n.b. use "git update-index --assume-unchanged prefstore.cfg" 
# when you customize this file with you're own settings 

[Database]
url: [mysql || postgresql]://[user]:[password]@[host]/[database]?charset=utf8

[Server]
port: 5000 
