{% extends "layout.html" %}

{% block executions_summary %}
    <h3> Execution Results </h3>
    <table class="table table-condensed table-striped table-bordered">
        <thead>
            <tr>
                <th>Query</th>
                <th>Received</th>
                <th>Action</th>
            </tr>   
        </thead>                
        <tbody>
        {% for execution in executions %}
            <tr>
                <td> {{execution.query}}</td>
                <td> {{execution.received}}</td>  
                <td>    
                    <form action="{{url_for('view', execution_id=execution.execution_id)}}" method=post>
                        <input type="hidden" name="processor_id" value="{{execution.access_token}}">
                        <button class="btn btn-primary" type="submit">View!</button>
                    </form>
                </td>
            </tr> 
         {% endfor %}  
        </tbody>
    </table> 
{% endblock %}