<!DOCTYPE html>
<html lang="en">
<title>TPC</title>

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
<script src="{{ url_for('static', filename='jquery/jquery-1.7.2.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

<div class="container">
    <div class="page">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-error">
            {{ message }}
        </div>
        {% endfor %}
        <div class="row">
            <div class="span12">
                {% block request %}{% endblock %}
                {% block execute %}{% endblock %}
                {% block summary %}{% endblock %}
            </div>
        </div>
    </div>
</div>