<!DOCTYPE html>
<html lang="en">
<title>TPC</title>

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
<script src="{{ url_for('static', filename='jquery/jquery-1.7.2.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

<script src="{{ url_for('static', filename='knockout/knockout-min.js') }}"></script> 
<script src="{{ url_for('static', filename='knockout/knockout-mapping.js') }}"></script> 
<script src="{{ url_for('static', filename='knockout/knockout-postbox.min.js') }}"></script>

<script>

    var NotificationModel = function(){
        
        var self = this;
        
        this.events = ko.observableArray([]);
        
        this.lastEvent = ko.observable("").publishOn("myevents");
         
        /*
         * subscribe to the events observable array and publish the last
         * element, to be viewed by other view models.  Note that this currently
         * sends a reference.  To create a deep copy we could do ko.toJSON and recreate
         * at the other end.
         */
        this.events.subscribe(function(newValue){
            console.log(this.events()[this.events().length -1]);
            this.lastEvent(this.events()[this.events().length -1]);   
        },this);
        
        
        this.read = function(message){
            self.events.remove(message);
        };
        
        this.startpolling = function(frequency){
            
            setTimeout(function(){
        
                $.ajax({
                    url: "/stream",
                    dataType: 'json', 
                    timeout: 30000,
                    cache: false,
                    
                    success: function(data) {
                        frequency = 500;
                        console.log(data);
                        self.events.push(data);
                        //self.latestEvent(data.message);
                        //$('.top-right').notify({
                        // message: { text: data.message }
                        //}).show();
                    },
                     
                    error: function(XMLHttpRequest, textStatus, errorThrown){
                        switch(XMLHttpRequest.status){
                            case 502: //update server is down
                            case 403: //forbidden - unlikely to get access anytime soon
                                frequency = 60000;
                                break; 
                            default:
                                frequency = 5000;
                        }
                    },
                    
                    complete: function(){
                        self.startpolling(frequency);        
                    }
                });
            
            },frequency);
        }
    }
</script>

<script>
    $(function(){
        var nm = new NotificationModel();	
		ko.applyBindings(nm,$(".navbar-inner")[0]);
        nm.startpolling(500);
    });
</script>

<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">A third party client!</a>
         <ul class="nav">
            <li><a href="{{url_for('root')}}" class="menu_button" id="home">Experiment</a></li>
            <!-- <li><a href="{{url_for('register')}}" class="menu_button" id="register">register with catalogs</a></li>
            <li><a href="{{url_for('resources')}}" class="menu_button" id="summary">resources</a></li>
            <li><a href="{{url_for('executions')}}" class="menu_button" id="summary">executions</a></li>  -->
         </ul> 
    </div>
</div>

<div class="container">
    <div class="page">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-error">
            {{ message }}
        </div>
        {% endfor %}
        <div class="row">
            <div class="span12">
                {% block request %}{% endblock %}
                {% block register %}{%endblock %}
                {% block execute %}{% endblock %}
                {% block summary %}{% endblock %}
                {% block executions_summary %}{% endblock %}
                {% block resources %}{% endblock %}
                {% block result %}{% endblock %}
                {% block login %}{% endblock %}
            </div>
        </div>
    </div>
</div>