<!DOCTYPE html>
<html lang="en">
<title>TPC</title>

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
<script src="{{ url_for('static', filename='jquery/jquery-1.7.2.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">A third party client!</a>
         <ul class="nav">
            <li><a href="{{url_for('root')}}" class="menu_button" id="home">home</a></li>
            <li><a href="{{url_for('register')}}" class="menu_button" id="register">register with catalogs</a></li>
            <li><a href="{{url_for('resources')}}" class="menu_button" id="summary">resources</a></li>
            <li><a href="{{url_for('executions')}}" class="menu_button" id="summary">executions</a></li>
         </ul> 
    </div>
</div>

<div class="container">
    <div class="page">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-error">
            {{ message }}
        </div>
        {% endfor %}
        <div class="row">
            <div class="span12">
                {% block request %}{% endblock %}
                {% block register %}{%endblock %}
                {% block execute %}{% endblock %}
                {% block summary %}{% endblock %}
                {% block executions_summary %}{% endblock %}
                {% block resources %}{% endblock %}
                {% block result %}{% endblock %}
                {% block login %}{% endblock %}
            </div>
        </div>
    </div>
</div>