{% extends "layout.html" %}

{% block resources %}

<div class="container">
    <div class="row">
        <div class="span8 offset2 well">
            <legend> Catalog details for the experiment.</legend>           
            <form data-bind="submit:requestProcessor">
                <label for="catalog_uri">Select your catalog</label>
                <select name="catalog_uri" class="span7" id="catalog_uri">
                        {% for catalog in catalogs%}
                            <option>{{catalog}}</option> 
                        {% endfor %}
                </select>
                <label for="catalog_username">Provide the Catalog username here</label>
                <input type="text" name="catalog_username" id="catalog_username">
                <button class="btn btn-warning" type="submit">Experiment Request!</button>
            </form>
        </div>
    </div>
    <div data-bind="if: haveprocessors()">
    	<div class="row">
             <div class="span12">
                <legend> Requests </legend>
                <ul class="nav nav-pills">
                   <li data-bind="css:{'active':ampending()}">
                     <a href='#' data-bind="click:function(){typeToShow('pending')}">Pending</a>
                   </li>
                   
                  <li data-bind="css:{'active':amaccepted()}">
                     <a href='#' data-bind="click:function(){typeToShow('accepted')}">Accepted</a>
                   </li>
                   
                    <li data-bind="css:{'active':amrejected()}">
                     <a href='#' data-bind="click:function(){typeToShow('access_denied')}">Rejected</a>
                   </li>
                </ul>
                <div class="row">
                    <div class="span2">
                        <strong> Message </strong>
                    </div>
                    <div class="span2" data-bind="visible:amaccepted()">
                      <strong> Actions </strong>
                    </div>
                </div>
                <div data-bind="foreach: processorsToShow">
                    <div class="row">
                         <form action={{url_for('execute')}} method=post> 
                            <input type="hidden" name="state" data-bind="value: state">
                                <div class="span2">
                                    <label data-bind="visible:$parent.amrejected()">Experiment request is rejected, try again!</label>
                                    <label data-bind="visible:$parent.ampending()">Experiment request is pending.Wait for it to get accepted by Catalog!</label>
                                    <label data-bind="visible:$parent.amaccepted()">Experiment request is accepted start the experiment!</label>
                                </div>
                                <div class="span2" data-bind="visible:$parent.amaccepted()"> 
                                	<input type="hidden" name="parameters" id="parameters"  value="{}">
                                    <button type="submit" class="btn">Start</button>
                                </div> 
                          </form>
                     </div>
                  </div>
             </div>
        </div>
    </div>    
        
</div> <!-- end of container -->

<script type="text/javascript"> 
    
    
    var ResourceListModel = function() {
    
        var self = this;
        
        this.resources = ko.observableArray([]);
        
        this.processors = ko.observableArray([]); //this needs to be managed so objects are observable!
        
        this.query = ko.observable(false);
        
        this.event = ko.observable().subscribeTo("myevents", true);
        
        this.event.subscribe(function(newValue){
            processor = $.parseJSON(self.event().data);
            console.log("inside subscribe " + processor);
            this.updateProcessor(processor);
        },this);
         
       
        this.selectedCatalog = this.resources.length > 0 ? ko.observable(this.resources[0]) : ko.observable();
        
        
        this.haveprocessors = ko.computed(function(){
            return self.processors().length > 0;
        },this);
        
        this.haveresources = ko.computed(function(){
            return self.resources().length > 0;
        },this);
            
        this.typeToShow = ko.observable("pending")
        
        this.ampending = ko.computed(function(){
            return self.typeToShow() == "pending";
        });
        
        this.amaccepted = ko.computed(function(){
            return self.typeToShow() == "accepted";
        });
        
        this.amrejected = ko.computed(function(){
            return self.typeToShow() == "access_denied";
        });
        
        this.processorsToShow = ko.computed(function(){
            var desiredType = this.typeToShow();
            
            return ko.utils.arrayFilter(this.processors(), function(processor){
                return processor.status() == desiredType;
            });
            
        }, this);

        this.updateProcessor = function(processor){
        	 console.log("inside update processor" + processor);
             var p = ko.utils.arrayFirst(self.processors(), function(item) {return item.state() == processor.state;});
             if (p){
                p.status(processor.status);
             }else{
                console.log("couldn't find it..");
             }
        };
        
        this.toggleQuery = function(){
            self.query(!self.query());
        };
        
        this.retrieve_schema= function(resource_uri, resource_name){
            
            data = {
                resource_uri: resource_uri(),
                resource_name: resource_name()
            }
            
            $.ajax({
			    type: 'POST',
			    url: '/schema',
			    dataType: "json",
			    data: data,
			    
                success: function( data, status  ) {
                    console.log(data)
			    },
                error: function( data, status ) {
				    console.log( "Sorry, could not request your process" );
			    }
			});
        };
        
        $('#catalog_username').bind("change keyup mouseup", function() {
		    console.log('changed');
		    self.request_processors();
		});
        
        
        this.requestProcessor = function(){
            
        	console.log('inside request catalog owner is  ' +  $("#catalog_uri").val());
            requestdata =  {    "catalog": $("#catalog_uri").val(),
                                "resource_name": "urls",
                                "resource_uri": "http://192.168.33.12:7000",
                                "owner" : $("#catalog_username").val(),
                                "expiry": 5999999999,
                                "query": "select * from urls;"
                            };

            $.ajax({
			    type: 'POST',
			    url: '/experimentRequest',
			    dataType: "json",
			    data: requestdata,
			    
                success: function( data, status  ) {
                    console.log(data)
                    
                    if (data.success){
			            self.query(false);
			        
			            processor = {
			                "state":data.state,
			                "status":"pending",
			                "resource":requestdata.resource_name,
			                "query": requestdata.query,
			                "token": "None"
			            };        
			            self.processors.push(ko.mapping.fromJS(processor));
			        }else{
			            alert("error, sorry, client rejected request");
			        }
			    },
                error: function( data, status ) {
				    alert( "Sorry, could not request your process" );
			    }
			});
			alert('Wait for catalog to accept your experiment request!');
        };
        
      
        
        this.request_processors = function(){
        	console.log('inside request processors');
            $.ajax({
                type: 'GET',
                url: '/processors',
                dataType: "json",
                
                success: function( data, status  ) {
                    console.log(data.processors);
                    self.loadProcessors(data.processors);
                },
                error: function( data, status ) {
                    alert( "We are currently unable to process this installation. Please try again later." );
                }
		    });
        };
    
        this.request_resources = function(){
        
            console.log('/request_resources?catalog_uri=' +  $("#catalog_uri").val());
            
            $.ajax({
                type: 'GET',
                url: '/request_resources?catalog_uri=' +  $("#catalog_uri").val(),
                dataType: "json",
                
                success: function( data, status  ) {
                    console.log(data);
                    self.loadResources(data);
                },
                error: function( data, status ) {
                    alert( "We are currently unable to process this installation. Please try again later." );
                }
            });
        };
        
        this.requestData = function(){
            self.request_resources();
            self.request_processors();
        };
        
        this.loadResources = function(resourcedata){
            self.resources([]);
            $.each(resourcedata, function(i, resource){
                resource = ko.mapping.fromJS(resource);
                //tack on schema
                resource.schema = ko.observable();
                self.resources.push(resource);
            });
        };
        
        this.loadProcessors = function(processordata){
            self.processors([]);
            $.each(processordata, function(i, processor){
                self.processors.push(ko.mapping.fromJS(processor));
            });
        };
    }
</script>

<script>
    $(function(){
        var rlm = new ResourceListModel();
        //rlm.loadProcessors({{processors | safe}});
        ko.applyBindings(rlm);
        
    });
</script>
{% endblock %}