{% extends "layout.html" %}

{% block resources %}

<div class="container">
    <div class="row">
        <div class="span8 offset2 well">
            <legend> Pick a catalog to view resources </legend>
            
           
            <form data-bind="submit:requestData">
                <select name="catalog_uri" class="span7" id="catalog_uri">
                        {% for catalog in catalogs%}
                            <option>{{catalog}}</option> 
                        {% endfor %}
                </select>
                <button class="btn btn-warning" type="submit">Use!</button>
            </form>
        </div>
    </div>
    
    <div data-bind="if: haveresources()">
        <div class="row">
            <div class="span12">
                <legend> Resources </legend>
                <table class="table table-condensed table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Owner</th>
                            <th>Resource Name</th>
                            <th>Action</th>
                        </tr>   
                    </thead>                
                    <tbody data-bind="foreach: resources">
                        
                            <tr>
                                <td data-bind="text: owner"></td>
                                <td> <a data-bind="attr:{href: $parent.queryurl(resource_uri, resource_name) +'/schema'}"><span data-bind="text: resource_name"></span></a></td>  
                                <td> <i class="icon-road"></i> <a href="#" data-bind="click:function(){$parent.selectedCatalog($data);$parent.toggleQuery();}"> create a new processing request </a> </td>
                            </tr> 
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    
    
    <div data-bind="if: haveresources()">
        <div class="row">
             <div class="span12">
                <legend> Processors </legend>
                <ul class="nav nav-pills">
                   <li data-bind="css:{'active':ampending()}">
                     <a href='#' data-bind="click:function(){typeToShow('pending')}">Pending</a>
                   </li>
                   
                  <li data-bind="css:{'active':amaccepted()}">
                     <a href='#' data-bind="click:function(){typeToShow('accepted')}">Accepted</a>
                   </li>
                   
                    <li data-bind="css:{'active':amrejected()}">
                     <a href='#' data-bind="click:function(){typeToShow('access_denied')}">Rejected</a>
                   </li>
                </ul>
                <div class="row">
                    <div class="span2">
                        <strong> Resource </strong>
                    </div>
                    <div class="span3">
                      <strong> Query </strong>
                    </div>
                    <div class="span4" data-bind="visible:amaccepted()">
                      <strong> Parameters </strong>
                    </div>
                    <div class="span2" data-bind="visible:amaccepted()">
                      <strong> Actions </strong>
                    </div>
                </div>
                <div data-bind="foreach: processorsToShow">
                    <div class="row">
                         <form action={{url_for('execute')}} method=post> 
                            <input type="hidden" name="state" data-bind="value: state">
                               <div class="span2">
                                   <span data-bind="text: resource"></span>
                               </div>
                               <div class="span3">
                                   <span data-bind="text: query"></span>
                               </div>
                               <div class="span4" data-bind="visible:$parent.amaccepted()">     
                                    <input type="text" name="parameters"  value="{}">
                               </div>
                                <div class="span2" data-bind="visible:$parent.amaccepted()"> 
                                    <button type="submit" class="btn">Run</button>
                                </div> 
                          </form>
                     </div>
                  </div>
             </div>
        </div>
    </div>  
    
    
    <div data-bind="if: selectedCatalog()">
        <div class="row" data-bind="visible:query()">
            <div class="span4">
               <form data-bind="submit: requestProcessor">
                     <legend>Request a new processor</legend>
                     
                     <label>Catalog: <span data-bind="text:selectedCatalog().catalog_uri"></span></label>
                     
                     <label>Owner Name: <span data-bind="text:selectedCatalog().owner"></span></label>
                     
                     <label>Resource Name: <span data-bind="text:selectedCatalog().resource_name"></span></label>
                              
                     <label>SQL query</label>
                     <textarea rows="5" name="query" id="query">select * from [resource] limit 100</textarea>
                     <input type="submit" class="btn">
                </form>
            </div>
        </div>
    </div>
    
    
</div> <!-- end of container -->

<script type="text/javascript">
    
    var ResourceListModel = function() {
    
        var self = this;
        
        this.resources = ko.observableArray([]);
        
        this.processors = ko.observableArray([]); //this needs to be managed so objects are observable!
        
        this.query = ko.observable(false);
        
        this.event = ko.observable().subscribeTo("myevents", true);
        
        this.event.subscribe(function(newValue){
            processor = $.parseJSON(self.event().data);
            this.updateProcessor(processor);
        },this);
         
       
        this.selectedCatalog = this.resources.length > 0 ? ko.observable(this.resources[0]) : ko.observable();
        
        
        this.haveresources = ko.computed(function(){
            return self.resources().length > 0;
        },this);
            
        this.typeToShow = ko.observable("pending")
        
        this.ampending = ko.computed(function(){
            return self.typeToShow() == "pending";
        });
        
        this.amaccepted = ko.computed(function(){
            return self.typeToShow() == "accepted";
        });
        
        this.amrejected = ko.computed(function(){
            return self.typeToShow() == "access_denied";
        });
        
        this.processorsToShow = ko.computed(function(){
            var desiredType = this.typeToShow();
            
            return ko.utils.arrayFilter(this.processors(), function(processor){
                return processor.status == desiredType;
            });
            
        }, this);

        this.updateProcessor = function(processor){
             var p = ko.utils.arrayFirst(self.processors(), function(item) {return item.state == processor.state;});
             if (p){
                console.log(p); //perhaps should make this observable?
                p.status(processor.status);
             }
        };
        
        this.toggleQuery = function(){
            self.query(!self.query());
        };
        
        this.queryurl = function(resource_uri, resource_name){
            console.log(resource_uri);
            
            idx = resource_uri.indexOf("//") == -1 ? 0 : 1
            urltoks = resource_uri.split("\/\/");
            
            console.log(urltoks);
            
            console.log(idx);
            
            schema = idx == 1 ? urltoks[0] : "http:";
            
            return schema  + "//" + resource_name + "." + resource_uri.split("\/\/")[idx];
        };
        
        this.requestProcessor = function(){
        
            requestdata =  {    "catalog": self.selectedCatalog().catalog_uri,
                                "resource_name": self.selectedCatalog().resource_name,
                                "resource_uri":self.selectedCatalog().resource_uri,
                                "owner" : self.selectedCatalog().owner,
                                "expiry": 5999999999,
                                "query": $('textarea#query').val()
                            };

            $.ajax({
			    type: 'POST',
			    url: '/request',
			    dataType: "json",
			    data: requestdata,
			    
                success: function( data, status  ) {
                    console.log(data)
                    
                    if (data.success){
			            self.query(false);
			            processor = {
			                "state":data.state,
			                "status":"pending",
			                "resource":requestdata.resource_name,
			                "query": requestdata.query,
			                "token": "None"
			            };        
			            self.processors.push(processor);
			        }else{
			            alert("error, sorry, client rejected request");
			        }
			    },
                error: function( data, status ) {
				    alert( "Sorry, could not request your process" );
			    }
			});
        };
        
      
        
        this.request_processors = function(){
            $.ajax({
                type: 'GET',
                url: '/processors',
                dataType: "json",
                
                success: function( data, status  ) {
                    console.log(data);
                    self.loadProcessors(data.processors);
                },
                error: function( data, status ) {
                    alert( "We are currently unable to process this installation. Please try again later." );
                }
		    });
        };
    
        this.request_resources = function(){
        
            console.log('/request_resources?catalog_uri=' +  $("#catalog_uri").val());
            
            $.ajax({
                type: 'GET',
                url: '/request_resources?catalog_uri=' +  $("#catalog_uri").val(),
                dataType: "json",
                
                success: function( data, status  ) {
                    console.log(data);
                    self.loadResources(data);
                },
                error: function( data, status ) {
                    alert( "We are currently unable to process this installation. Please try again later." );
                }
            });
        };
        
        this.requestData = function(){
            self.request_resources();
            self.request_processors();
        };
        
        this.loadResources = function(resourcedata){
            $.each(resourcedata, function(i, resource){
                self.resources.push(ko.mapping.fromJS(resourcedata));
            });
        };
        
        this.loadProcessors = function(processordata){
           
            $.each(processordata, function(i, processor){
                self.processors.push(ko.mapping.fromJS(processor));
            });
        };
    }
</script>

<script>
    $(function(){
        var rlm = new ResourceListModel();
        //rlm.loadProcessors({{processors | safe}});
        ko.applyBindings(rlm);
    });
</script>
{% endblock %}