{% extends "layout.html" %}

{% block resources %}
<script src="{{ url_for('static', filename='knockout/knockout-min.js') }}"></script> 
<script src="{{ url_for('static', filename='knockout/knockout-mapping.js') }}"></script> 

<div class="container">
    <div class="row">
        <div class="span8 offset2 well">
            <legend> Pick a catalog to view resources </legend>
            <form action="javascript:request_resources()">
                <select name="catalog_uri" class="span7" id="catalog_uri">
                        {% for catalog in catalogs%}
                            <option>{{catalog}}</option> 
                        {% endfor %}
                </select>
                <button class="btn btn-warning" type="submit">Use!</button>
            </form>
        </div>
    </div>
    
    <div data-bind="if: haveresources()">
        <div class="row">
            <div class="span12">
                <table class="table table-condensed table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Owner</th>
                            <th>Resource Name</th>
                            <th>Action</th>
                        </tr>   
                    </thead>                
                    <tbody data-bind="foreach: resources">
                        <form action='#' method=post>
                            <tr>
                                <td data-bind="text: owner"></td>
                                <td data-bind="text: resource_name"></td>  
                                <td> <a href="#" data-bind="click:function(){$parent.selectedCatalog($data);$parent.toggleQuery();}"> query! </a> </td>
                            </tr> 
                        </form>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div data-bind="if: selectedCatalog()">
        <div class="row" data-bind="visible:query()">
            <div class="span4">
                <form action={{url_for('request_processor')}} method=post>
                     <legend>Request a new processor</legend>
                     
                     <label>Catalog: <span data-bind="text:selectedCatalog().catalog_uri"></span></label>
                     
                     <label>Owner Name: <span data-bind="text:selectedCatalog().owner"></span></label>
                     
                     <label>Resource Name: <span data-bind="text:selectedCatalog().resource_name"></span></label>
                     
                     <input type="hidden" name="catalog" data-bind="value:selectedCatalog().catalog_uri">
                     <input type="hidden" name="resource_name" data-bind="value:selectedCatalog().resource_name">
                     <input type="hidden" name="owner" data-bind="value:selectedCatalog().owner">
                     <input type="hidden" name="expiry" value="9999999999">
                     
                     <label>Python Code</label>
                     <textarea rows="5" name="query">def run(parameters): return 45</textarea>
                     <input type="submit" class="btn"></input>
                </form>
            </div>
        </div>
    </div>
    <h2> Processors </h2>
    <div class="row">
        <div class="span12">
            <ul class="nav nav-pills">
               <li class="active"><a href='#'>Pending</a>
               <li><a href='#'>Accepted</a>
            </ul>
        </div>
    </div>

</div>

<script type="text/javascript">
    
    var ResourceListModel = function(resources,processors) {
        var self = this;
        
        this.resources = ko.observableArray(resources);
        
        this.processors = ko.observableArray(processors);
        
        this.query = ko.observable(false);

        this.selectedCatalog = resources.length > 0 ? ko.observable(resources[0]) : ko.observable();
        
        this.haveresources = ko.computed(function(){
            return self.resources().length > 0;
        },this);
        
        this.toggleQuery = function(){
            self.query(!self.query());
        }
    };

    var rlm = new ResourceListModel([], {{processors | safe}})
    console.log({{processors | safe}});
    ko.applyBindings(rlm);
    
    
    function request_resources() {
		console.log('/request_resources?catalog_uri=' +  $("#catalog_uri").val());
		$.ajax({
			type: 'GET',
			url: '/request_resources?catalog_uri=' +  $("#catalog_uri").val(),
			dataType: "json",
			
			success: function( data, status  ) {
			    rlm.resources(data);
			},
			error: function( data, status ) {
				alert( "We are currently unable to process this installation. Please try again later." );
			}
		});
    }
    
   
    
</script>
{% endblock %}