{% extends "layout.html" %}

{% block summary %}
<script src="{{ url_for('static', filename='knockout/knockout-min.js') }}"></script> 
<script src="{{ url_for('static', filename='knockout/knockout-mapping.js') }}"></script> 




<div class="container">
    <div class="row">
        <div class="span12">
            <div class="alert alert-info">
               Find a list of resources available to you to process from the following list of  catalogs
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span4 offset4 well">
            <legend> Search a catalog you've registered with for resources </legend>
            <form action="javascript:request_resources()">
                <select name="catalog_uri" class="span4" id="catalog_uri">
                        {% for catalog in catalogs%}
                            <option>{{catalog}}</option> 
                        {% endfor %}
                </select>
                <button class="btn btn-warning" type="submit">Use!</button>
            </form>
        </div>
    </div>
</div>

<table>
    <thead>
        <tr><th>First name</th><th>Last name</th></tr>
    </thead>
    <tbody data-bind="foreach: items">
        <tr>
            <td data-bind="text: $data"></td>
        </tr>
    </tbody>
</table>

<script type="text/javascript">
    
    var ResourceListModel = function(items) {
        this.items = ko.observableArray(items);
    };

  
    
    function request_resources() {
		$.ajax({
			type: 'GET',
			url: '/request_resources?catalog_uri=' +  $("#catalog_uri").val(),
			dataType: "json",
			
			success: function( data, status  ) {
                console.log(data)
                ko.applyBindings(new ResourceListModel(data));
                console.log(JSON.stringify(data))
			},
			error: function( data, status ) {
				alert( "We are currently unable to process this installation. Please try again later." );
			}
		});
    }
</script>
{% endblock %}